

# SIH26012 Geospatial Data Acquisition & Privacy Rules
data/acquisition/*/source/
data/acquisition/*/*.ecw
data/acquisition/*/*.tif
data/acquisition/*/*.tiff
data/acquisition/*/*.zip
*.ecw
temp_vaayu_inspect/
scratch/
*.pth
*.dbf
*.shp
*.shx
*.sbn
*.sbx
!data/acquisition/**/working/*.geojson
!data/acquisition/**/metadata/*
!data/acquisition/**/qgis/*
!data/acquisition/**/README.md
!data/acquisition/**/manifest_sha256.txt
SIH26012_Comprehensive_Project_Blueprint (1).md
prompt.md